.outerBoundary {
    padding: 24px;
    background-color: #f5f5f5;
    margin: auto;
    display: flex;
    outline: 0;
    position: relative;
    justify-content: center
}

.tableContainer {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.headerName {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 64px;
    padding-left: 16px;
    padding-right: 8px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.tableClass {
    min-width: 750px;
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.tableHead,
.tableBody {
    display: table-header-group;
}

.tableRow {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.tableCell {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.tableCell-Head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
    line-height: 1.5rem;
}